{% extends 'main/homebase.html' %}
{% load static %}
  


{% block content %}

<style type="text/css">
    .ps-btn{
        background-color: #ed017f !important;
    }
    .ps-btn:hover{
        background-color: #9a0052 !important;
        color: #fff;
    }
</style>


 <section class="ps-section--account ps-checkout">

    <div class="container">
                             

<div class="ps-section__content">
                    <form class="ps-form--checkout" method="post">
                        {% csrf_token %}
                        <div class="ps-form__content">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                    <div class="ps-block--shipping">
                                        <h4>Join Competition</h4>
                                        <div class="ps-block__content">
                                            <div class="ps-block--payment-method">
                                                <div class="ps-tabs">
                                                    <div class="ps-tab active" id="visa">
                                                        {% csrf_token %}
                                                        <form class="ps-form--visa" method="post">
                                                                                             
                                                            <div class="form-group">
                                                                <label>Enter Competition code</label>
                                                                <input name="compete_slug" class="form-control" type="text" placeholder="" required="required">
                                                            </div>
                                                            <div class="form-group submit">
                                                                <button class="ps-btn ps-btn--fullwidth">Join</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div> 
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                                    <div class="ps-block--shipping">
                                        
                                        <h4>Setup Competition</h4>
                                        <div class="ps-block--payment-method">
                                            <div class="ps-tabs">
                                                <div class="ps-tab active" id="visa">
                                                    <form class="ps-form--visa" method="post">
                                                        {% csrf_token %} 
                                                        <div class="form-group">
                                                            <label>Audience</label>
                                                            <input name="audience" class="form-control" type="text" placeholder="" required="required">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Number of Objective Questions</label>
                                                            <input class="form-control" type="text" placeholder=""
                                                            name="question_count" required="required">
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <div class="form-group">
                                                                    <label></label>
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <div class="form-group">
                                                                                <input class="form-control" type="text" placeholder="Category" name="category" required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-6">

                                                                            <div class="form-group">
                                                                                 
                                                                                <input class="form-control" type="text" name="level" placeholder="level" required="required">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="form-group">
                                                                    <label></label>
                                                                    <input class="form-control" type="text" placeholder="duration" name="duration" required="required">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group submit">
                                                            <button class="ps-btn ps-btn--fullwidth">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="ps-tab" id="paypal"><a class="ps-btn" href="#">Proceed with Paypal</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        


{% endblock %}

