{% extends 'main/base.html' %}


{% load static %}
      

{% block content %}


<section class="ps-section--account">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-12">
                        <div class="ps-section__rightx">
                            <div class="ps-section--account-setting">
                                <div class="ps-section__header">
                                    <h3>All Messages</h3>
                                </div>
                                <div class="ps-section__content">
                                    <div class="table-responsive">
                                        <table class="table ps-table ps-table--invoices">
                                            <thead>
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>Name</th>
                                                    <th>Subject</th>
                                                    <th>Email</th>
                                                    <th>Senders Phone Number</th>
                                                    <th>Senders Message</th>
                                                    <th>Date</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                            	{% for rs in contacts %}
                                                <tr>
                                                	
                                                    <td><a href="invoice-detail.html">{{ rs.id }}</a></td>
                                                    <td><a href="product-default.html">{{ rs.name}}</a></td>
                                                    <td>{{ rs.subject }}</td>
                                                    <td>{{ rs.email }}</td>
                                                    <td>{{ rs.phone }}</td>
                                                    <td>{{ rs.message }}</td>
                                                    <td>{{ rs.create_at }}</td>
                                                </tr>
                                                {%endfor %}
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{%endblock %}