{% extends 'main/base.html' %}

{% load static %}

{% block content %}

	{% include "main/header.html" %}
	<style type="text/css">
	    .alert{
	        box-shadow: 5px 5px 10px #111;
	        border: none;

	    }
	</style>
	<br />
	<section class="ps-section--account ps-checkout">

    <div class="container">
                             

<div class="ps-section__content">
                    
                        <div class="ps-form__content">
                            <div class="row">
	    	{% if resources %}
		    	{% for item in study_resources %}
                    <div class="contact-item col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 ">
                        <div style="background-color: #fff; overflow: hidden; box-shadow: 5px 5px 10px #fff; overflow: hidden; border: none" class="ps-block--category contact-item-inner  hover-in-shadowx"><a class="ps-block__overlay" href="{% url 'study_resource:resource_detail' item.slug %}"></a><img  style="height: 100px; width: 180; " src="{% static 'main/img/Rb726b85a8621f4b7f0f50b5e8d25c01a.png' %}" alt="">
                            <h5>{{ item.title }}</h5>
                        </div>
                    </div>
                    {% endfor %}
		    {% else %}
		    	 <div class="contact-itemx ">
		            <h1 style="text-align: center;">Oops!!! Nothing Yet</h1>
		        </div>
		    {% endif %}

	    </div>
	</div>

</div>
</div>
</div>
</div>
</div>
</section>


{% endblock %}