{% extends 'main/base.html' %}
{% load static %}
  


{% block content %}

<style type="text/css">
    .ps-btn{
        background-color: #ed017f !important;
        color: #000000 !important;
    }
    .ps-btn:hover{
        background-color: #9a0052 !important;
        color: #fff !important;
    }
    .btn-success {
        background-color: #9a0052 !important;
        color: #fff !important;
        border: none;
    }
    .btn-success:hover{
        background-color: #ed017f !important;
        color: #000000 !important;
        border: none;
    }
    .btn-success a:hover{
        
        color: #000000 !important;
        border: none;
    }
</style>

<div class="ps-my-account">
            <div class="container">
                <form class="ps-form--account ps-tab-root" action=""  method="post">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}} text-center" role="alert" style="background-color: rgb(177, 83, 83); color: rgb(24, 23, 23); border-radius: 6px; font-weight: 600;">
                    {{ message }}
                     </div>
                    {% endfor %}
                {% endif %}
                    {% csrf_token %}
                    <ul class="ps-tab-list">
                        <li class="active"><a href="#sign-in">Sign-up</a></li>
                    </ul>
                    <div class="ps-tabs">
                        <div class="ps-tab active" id="sign-in">
                            <div class="ps-form__content">
                                <h5>Create Your Account </h5>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="username" placeholder="Username" required="required">
                                </div>
                                <div class="form-group form-forgot">
                                    <input class="form-control" type="password" name="password1" placeholder="Password" required="required"><a href="">Forgot?</a>
                                </div>
                                <div class="form-group form-forgot">
                                    <input class="form-control" type="password" name="password2" placeholder="Confirm Password" required="required"><a href="">Forgot?</a>
                                </div>
                                <div class="form-group">
                                    <div class="ps-checkbox">
                                        <input class="form-control" type="checkbox" id="remember-me" name="remember-me">
                                        <label for="remember-me">Rememeber me</label>
                                    </div>
                                </div>
                                <div class="form-group submtit">
                                    <button class="ps-btn ps-btn--fullwidth">Login</button>
                                </div>
                            </div>
                            <div class="ps-form__footer">
                               
                                <p>Have an Account?  <button class="btn btn-success"><a href="{% url 'main:sign_in' %}">Sign In</a></button></p>

                            </div>
                        </div>
                        <div class="ps-tab" id="register">
                            
                            <div class="ps-form__footer">
                                <p>Connect with:</p>
                                
                            </div>
                        </div>
                    </div>
                </form>


{% endblock %}

