

    <form method="post" enctype="multipart/form-data">
    	{% csrf_token %}
        <div class="row">
        

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-header">Contribute to ({{ study_resource.title }}) Resources</div>
                    <br /><br />
                    <div class="card-body">
                            <div>

                                <div class="row">
                                    <label>Content</label>
                                    <textarea name="content"rows="4"></textarea>
                                </div>
                                <br />


                                <div class="row">
                                    <label>File(Pdf, Video, Audio Book,  Images)</label><br />
                                    <input type="file" name="study_file" class="form-control">
                                </div>
                                <br />


                                <div class="row">
                                    <label>Url Links</label>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <input name="link" placeholder="Url Links" type="text">
                                    </div>
                                </div>
                            

                            </div>
                    </div>
                </div>
            </div>                              
                
		</div>	
		
		<div class="row">
            <br /><br />
			<div class="col-lg-12 col-md-8 col-sm-6 col-xs-4">
                <button type="submit">
                   <span class="btn btn-success">Submit</span>
                </button>
            </div>
		</div>
 </form>

<br />



