{% extends 'main/base.html' %}


{% load static %}
      

{% block content %}

{% include "main/header.html" %}

<style type="text/css">
    .ps-btn{
        background-color: #9a0052 !important;
        color: #fff;
        transition: 0.25s;
    }
    a .ps-btn:hover{
        background-color: #ed017f !important;
   		color: black;
   		transition: 0.25s;
    }
	.pagination .active a{
        background-color: #9a0052 !important;
        color: #fff !important;
    }
    .pagination a:hover{
       	background-color: #9a0052 !important;
        color: #fff !important;
    }
    .img-video {
          display: block;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background: #d1002c;
          -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
          position: absolute;
          bottom: 10%;
          right: 35%;
          margin-right: -30px; 
      }
    .ps-block__inquiry:hover{
        background-color:  #009900 !important;
        color: #fff; 
    }
    .ps-block__inquiry{
        background-color:  #000000 !important;
        color: #fff; 
    }
    .ps-block__inquiry a{
        color: #fff;
    }
    
</style>

<div class="ps-page--single ps-page--vendor">
        <section class="ps-store-list">
            <div class="container">
                <aside class="ps-block--store-banner">
                    <div class="ps-block__content bg--cover" data-background="{% static 'main/img/slider/home-1/frati13.gif' %}">
                        <h4 style="color:#fff">{{ study_resource.title }}</h4><a class="ps-block__inquiry" href="{% url 'study_resource:contribute_chat' study_resource.id %}" style="color: #fff"><img  style="height: 50px; width: 50px" src="https://img.icons8.com/bubbles/2x/chat.png" > Join Forum</a>
                    </div>
                    <div class="ps-block__user" style="background-color: #9a0052 !important;" >
                        <div class="ps-block__user-avatar"><img  src="{% static 'main/img/5.jpg' %}" alt="">
                            <p ><img  style="height: 50px; width: 50px" src="https://img.icons8.com/bubbles/2x/chat.png" > Author</p>

                        </div>
                        
                        
                    </div>
                </aside>
              

                <div class="ps-section__wrapper">
                    <div class="ps-section__left">
                        <aside class="widget widget--vendor">
                            <h3 class="widget-title">Product Search</h3>
                            <div class="form-group--icon">
                                <input class="form-control" type="text" placeholder="Search..."><i class="icon-magnifier"></i>
                            </div>
                        </aside>
                        
                        <aside class="widget widget--vendor widget--open-time">
                            <h3 class="widget-title"><i class="icon-book"></i> {{ study_resource.description }}</h3>
                            <ul>
                                <li><strong>Contributors:</strong><span><img src="{{ item.contributor.image.url }}" alt="" style="border-radius: 50%; height: 20px; width: 20px;">  Raymond</span></li>
                                
                                <li><strong>Date Created:</strong><span>{{ study_resource.pub_date }}</span></li>
                                
                                <li><strong>Conservations: {{ study_resource.chats.count }}</strong></li>
                                <li><strong>Ebooks on this Resourse: {{ study_resource.ebooks.count }}</strong></li>
                                <li><strong>Contents on this Resource: {{ study_resource.contents.count }}</strong></li>
                                <li><strong>Videos on this Resources: {{ study_resource.videos.count }}</strong></li>
                                <li><strong>Links on this Resources: {{ study_resource.links.count }}</strong></li>
                                <li><strong>Images on this Resource: {{ study_resource.images.count }}</strong></li>
                            </ul>


                        </aside>
                        <aside class="widget widget--vendor widget--open-time">

                        <p><strong> How prepared are you? take Computer Based Test to find out</strong>
                            <a href="{% url 'cbt:setup_cbt' %}">
                            <button class="btn btn-success">Take Test</button>

                        </a>

                            <hr>
                        <p><strong> Click me- to share objective questions<style type="text/css"></style></p>
                            <a href="{% url 'question:share_question' %}">
                             <button  class="btn btn-success">Share Objective Questions</button>
                        </a>
                        <hr>
                        <p><strong> Click to share theory questions</strong></p>
                        <a href="{% url 'theory:share_theory' %}">
                             <button class="btn btn-success">Share Theory Questions</button>
                        </a>
                        <hr>
                         <p><strong> Click here to Share Resources</strong></p>
                         <a href="{% url 'study_resource:share_resource' %}"><p>
                             <button class="btn btn-success">Share resources</button>
                        </a>
                        
                    </aside>
                    </div>
                    <div class="ps-section__right">
                       


            <div class="ps-page__container">
                <div class="">
                    <div class="ps-product--detail ps-product--fullwidth">
                        
                        <div class=" ps-product__contentx ps-tab-rootx"  >
                            <ul class="ps-tab-list ps-store-link">
                                <li class="active"><a href="#tab-1"><small>Contents: ({{ study_resource.contents.count }})</small></a></li>
                                <li><a href="#tab-2"><small>Videos: ({{ study_resource.videos.count }})</small></a></li>
                                <li><a href="#tab-3"><small>Ebooks: ({{ study_resource.ebooks.count }})</small></a></li>
                                <li><a href="#tab-4"><small>Links: ({{ study_resource.links.count }})</small></a></li>
                                <li><a href="#tab-6"><small>Image: ({{ study_resource.images.count }})</small></a></li>
                            
                            </ul>




                            <div class="ps-tabs">
                                <div class="ps-tab active" id="tab-1">
                                    <div class="ps-document">
                                        <div class="ps-top-categories">

                                        <div class="section-title ps-block--payment-method">
                                            <h2 style="margin: 15px" data-heading="Important Content"></h2>
                                        </div>
                                        <div class="row ps-block--payment-method col-lg-12" style="margin: auto;">
                                            {% for item in study_resource.contents.all %}

                                            <div class="contact-item col-xl-6 col-lg-12  " style="text-align: center; margin-bottom: 10px">
                                                <a href="{{ item.link }">
                                                    <div class="ps-product contact-item-inner outer-shadow " style="color: #000000; text-align: center; background-color: #fff">
                                                        <div style="margin: auto; background-color: #fff; justify-content: space-between;" class="ps-product__thumbnail"><a href="{% url 'study_resource:content_detail' item.id %}" style="text-align: left;">{{ item.content|truncatewords:50 }}  ..continue reading</a>
                                
                                
                                                        </div>
                                                        <p>by {{ item.contributor }}</p>
                                                    </div>
                                                </div>
                                                </a>

                                            {% endfor %}
                                        </div>
                                 </div>
                     
                                    <div class="ps-pagination" >
                                        
                                        <a href="{% url 'study_resource:contribute_content' study_resource.id %}"><button class="ps-btn">Contribute to these Contents</button></a>
                                        
                                    </div>
                                    <br><br>
                                    </div>
                                </div>
                                <div class="ps-tab" id="tab-2">

                                <div class="section-title ps-block--payment-method">
                                    <h2 style="margin: 15px" data-heading="Education Videos"></h2>
                                </div>
                                <div class="row ps-block--payment-methodx col-lg-12">
                                    {% for item in study_resource.videos.all %}

                                    <div class="contact-item col-xl-4 col-lg-12" style="text-align: center;">
                                            <div class="ps-productX ">
                                                <div class="ps-product__thumbnail" style="margin: auto;"><a href="{{ item.video.url }}"><video width="320" height="157" controls><source src="{{ item.video.url }}" type="video/mp4"></video> </a></div>
                                         </div>         
                                        </div>

                                     {% endfor %}
                                </div>
                                <div class="ps-pagination" >
                                        
                                        <a href="{% url 'study_resource:contribute_video' study_resource.id %}"><button class="ps-btn">Contribute to these Videos</button></a>
                                        
                                    </div>
                                    <br><br>
                                </div>
                                <div class="ps-tab" id="tab-3">
                                    <div class="section-title ps-block--payment-method">
                                        <h2 style="margin: 15px" data-heading="Ebooks on Demand"></h2>
                                    </div>
                                    <div class="row ps-block--payment-method col-lg-12" style="margin: auto;">
                                        {% for item in study_resource.ebooks.all %}

                                        <div class="contact-item col-xl-4 col-lg-4 ">
                                            <div style="background-color: #fff" class="ps-block--category contact-item-inner outer-shadow inner-shadow hover-in-shadow"><a class="ps-block__overlay" href="{{ item.ebook.url }}"></a><img  style="height: 100px; width: 180; " src="{% static 'main/img/5aa3ae359fc609199d0ff247.png' %}" alt="">
                                                <p>{{ study_resource.title }} ebook by {{ item.contributor }}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="ps-pagination" >
                                        
                                        <a href="{% url 'study_resource:contribute_ebook' study_resource.id %}"><button class="ps-btn">Contribute to these Ebooks</button></a>
                                        
                                    </div>
                                    <br><br>
                                </div>

                                <div class="ps-tab" id="tab-4">
                                    <div class="ps-top-categories">
                                    <div class="section-title ps-block--payment-method">
                                        <h2 style="margin: 15px" data-heading="Important Links"></h2>
                                    </div>
                                    <div class="row ps-block--payment-method col-lg-12" style="margin: auto;">
                                        {% for item in study_resource.links.all %}

                                        <div class="contact-item col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6 " style="text-align: center;">
                        
                                                <div class="ps-product contact-item-inner outer-shadow " style="color: #000000; text-align: center; background-color: #fff">
                                        <div style="margin: auto; background-color: #fff" class="ps-product__thumbnail"><a href="https://{{ item.link }}">{{ item.link }}
                                
                                        <p>by {{ item.contributor }}</p>
                                        </a>
                                        </div>
                                        </div>
                                    </div>


                                    {% endfor %}
                                        </div>
                                    </div>
                                    <div class="ps-pagination" >
                                        
                                        <a href="{% url 'study_resource:contribute_link' study_resource.id %}"><button class="ps-btn">Contribute to these Link</button></a>
                                        
                                    </div>
                                    <br><br>
                                </div>
                                        




                                <div class="ps-tab active" id="tab-6">
                                    <div class="ps-section__content">
                            <div class="row">
                                {% for item in study_resource.images.all %}
                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 " >
                                    <div class="ps-block--category-room ps-product__gallery" data-arrow="true">
                                        <div class="ps-block__thumbnail item"><a href="{{ item.image.url }}"><img style="width: 250px; height:200px" src="{{ item.image.url }}" alt="resource image"></a></div>
                                    <div class="ps-block__content"><a href="#">Image by {{ item.contributor }}</a></div>


                                </div>

                            </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                                    <div class="ps-pagination" >
                                        
                                        <a href="{% url 'study_resource:contribute_image' study_resource.id %}"><button class="ps-btn">Contribute to these images</button></a>
                                        
                                    </div>
                                    <br><br>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
            
{% endblock %}