

    <form method="post" enctype="multipart/form-data">
    	{% csrf_token %}
        <div class="row">
        

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-header">Share Study Resources</div>
                    <br /><br />
                    <div class="card-body">
                            <div>
                                <div>
                                    <div class="col col-md-3" >
                                        <label>Category</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="category">
                                            <option value="general">General</option>
                                            <option value="waec">Waec</option>
                                            <option value="jamb">Jamb</option>
                                            <option value="neco">Neco</option>
                                            <option value="gce">GCE</option>
                                            <option value="gmat">Gmat</option>
                                        </select>
                                    </div>
                                    <br />
                                </div>
                                <div>
                                    <div class="col col-md-3" >
                                        <label>Difficulty</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="level">
                                            <option value="simple">Simple</option>
                                            <option value="intermediate">Intermediate</option>
                                            <option value="hard">Hard</option>
                                        </select>
                                    </div>
                                    <br />
                                </div>


                                <div class="row">
                                    <label>Title</label>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <input name="title" type="text">
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <label>Description</label>
                                    <textarea name="description"rows="4"></textarea>
                                </div>
                                <br />

                                <div class="row">
                                    <label>Content</label>
                                    <textarea name="content"rows="4"></textarea>
                                </div>
                                <br />


                                <div class="row">
                                    <label>File(Pdf, Video, Audio Book,  Images)</label><br />
                                    <input type="file" name="study_file" class="form-control">
                                </div>
                                <br />


                                <div class="row">
                                    <label>Url Links</label>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <input name="link" placeholder="Url Links" type="text">
                                    </div>
                                </div>
                            

                            </div>
                    </div>
                </div>
            </div>                              
                
		</div>	
		
		<div class="row">
            <br /><br />
			<div class="col-lg-12 col-md-8 col-sm-6 col-xs-4">
                <button type="submit">
                   <span class="btn btn-success">Submit</span>
                </button>
            </div>
		</div>
 </form>

<br />



